<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link href="https://db.onlinewebfonts.com/c/bc229d0cbaf57b9531e961c076963c0a?family=a3+Italic" rel="stylesheet" type="text/css"/>
    <title>About</title>
</head>
<body>
    <div class="navbar">
        <div id="header">
            <div id="logo">
                <img src="../static/logo.png" id="logo"/>
                <div id="padding">
                </div>
            </div>
        <div class="navbar-left">
            <a class="nav-item nav-link" id="index" href="/">Home</a>
            <a class="nav-item nav-link" id="entries" href="/entries">Saved Entries</a>
            <a class="nav-item nav-link" id="about" href="/about">About</a>

        </div>
    <div>
        <div class="holder">
            <div class="big-green-box">
                <div class="content">
                        <p>[PROJECT STILL IN ITS EARLY STAGE]</p>
                        <p>A simple journalling website which allows a user to come in and enter their thoughts about the day. They can decide how they feel and select a mood and recieve a response from a character they like accordingly. The response will either be some encouraging advice, a comforting message or a helpful reminder. It serves as a quiet place of self-reflection and comfort. </p>
                        <p>Functionality available so far : </p>
                        <p>- Ability to enter thoughts that get saved in an SQL database. </p>
                        <p>Functionalities to be added : </p>
                        <p>- Ability to select mood and get an appropriate response from a character, giving the illusion of speaking to a dear friend. </p> 
                        <p>- Ability to make a user account and access your saved entries. </p>
                        <p>- Availability of more characters to choose to get responses from. </p>
                        <p>- Ability to customize the character and add your own icon, character name, potential responses. </p>
                        <p>- A character.ai responding appropriately to your entries with a learned personality. </p>
                        <p>- More website designs. </p>
                        <p>[more to be decided]</p>
                </div>
            </div>
        </div>
    </div>
</body>

